
{{ $height := .Get "height" | default "150px" }}
{{ $class := print "gallery_" $height }}

<style>

    div.{{ $class }} {
        display: flex;
        flex-wrap: wrap;
    }

    div.{{ $class }} a {
        flex-grow: 1;
        object-fit: cover;
        margin: 2px;
        display: flex;
    }

    div.{{ $class }} a img {
        height:{{$height}};
        object-fit: scale-down;
        flex-grow: 1;
    }

</style>

<div class={{$class}}>

    {{ $foldername := (.Get "folder" | default "imgs") }}
    {{ $path := print "content/" .Page.File.Dir $foldername }}
    {{ $url  := print .Page.Permalink $foldername }}
    {{ range (readDir $path)  }}
        {{ $src := print $url "/" .Name }}
        <a data-fancybox="gallery" href="{{ $src }}">
            <img src="{{ $src }}">
        </a>
    {{ end }}

</div>
